:root {
    /* Primary */
    --color-soft-blue: hsl(215, 51%, 70%);
    --color-cyan     : hsl(178, 100%, 50%);

    /* Neutral */
    --very-dark-blue-main-bg: hsl(217, 54%, 11%);
    --very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --very-dark--blue-line  : hsl(215, 32%, 27%);
    --color-white           : hsl(0, 0%, 100%);
}

h1,
h2,
h3,
p,
ul,
li {
    margin : 0px;
    padding: 0px;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    display  : block;
    margin   : 0px;
}

body {
    font-family     : "Outfit", sans-serif;
    font-size       : 18px;
    background-color: var(--very-dark-blue-main-bg);
}